
  
＃この.gitignoreファイルはUnityプロジェクトディレクトリのルートに配置する必要があります
＃
＃ https://github.com/github/gitignore/blob/master/Unity.gitignoreから最新の情報を取得します
＃
/ [ Ll ] ibrary /
/ [ Tt ] emp /
/ [ Oo ] bj /
/ [ Bb ] uild /
/ [ Bb ] uilds /
/ [ Ll ] ogs /
/ [ Uu ] ser [ Ss ] ettings /

＃のMemoryCapturesのサイズが過度に取得することができます。
＃非常に機密性の高いデータが含まれている可能性もあります
/ [ Mm ] emoryCaptures /

＃アセットメタデータは、対応するアセットも無視される場合にのみ無視する必要があります
！/ [ Aa ] ssets / ** / * .meta

＃アセットストアツールプラグインを無視する場合は、この行のコメントを解除します
＃ / [Aa] ssets / AssetStoreTools *

＃自動生成されたJetbrainsRiderプラグイン
/ [ Aa ] ssets /プラグイン/エディター/ JetBrains *

＃ Visual Studioのキャッシュディレクトリ
.vs /

＃ Gradleのキャッシュディレクトリ
.gradle /

＃自動生成されたVS / MD / Consuloソリューションとプロジェクトファイル
ExportedObj /
.consulo /
* .csproj
* .unityproj
* .sln
* .suo
* .tmp
* .user
* .userprefs
* .pidb
* .booproj
* .svd
* .pdb
* .mdb
* .opendb
* .VC.db

＃ Unity3Dで生成されたメタファイル
* .pidb.meta
* .pdb.meta
* .mdb.meta

＃クラッシュレポートでUnity3Dが生成したファイル
sysinfo.txt

＃ビルド
* .apk
* .aab
* .unitypackage

＃ Crashlytics生成されたファイル
crashlytics-build.properties

＃パックされたアドレス可能
/ [ Aa ] ssets / [ Aa ] ddressable [ Aa ] ssets [ Dd ] ata / * / * .bin *

＃一時的に自動生成されたAndroidアセット
/ [ Aa ] ssets / [ Ss ] treamingAssets / aa.meta
/ [ Aa ] ssets / [ Ss ] treamingAssets / aa / *